
body {
    width: 100%;
}


.burger-menu {
    display: none; //block;
    position: fixed; //the child (burger-menu-container) is set to position absolute, with overflow-y set to auto to enable scrolling.
    //width: 258px;
    width: calc(268px - (100vw - 100%));
    //transform: translate(238px, 0); //keeps the burger menu to the right of the body content. 238px is the width of the burger menu (mobile version)
    top: 0;
    right: 0;
    height: 100vh;
    z-index: -10000;//999; was putting it over, but let's see what happens if it's underneath
    a {
        color: $white;
        text-transform: uppercase;
    }
}

.burger-menu-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $menu-color1;
    //overflow-y: scroll; //adds menu scroll functionality
    //-webkit-overflow-scrolling: touch; //enables momentum scrolling on iOS - necessary for this?
    .mobile-menu-content,
    .mobile-menu-content-2,
    .mobile-menu-content-pre {
        width: 216px;
        margin: 20px auto;
        @media (min-width: $break-med) {
            display: none;
        }
    }

    .mobile-menu-content-pre {
        border-radius: $round-corner;
        border: 1px solid white;
        padding: 5px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
            padding: 0;
            margin: 0;
            h2 {
                font-size: 18px;
                font-weight: $regular;
            }
        }
    }
         
}



///mobile version
.burger-menu-list {
    text-align: center;
    background-color: $menu-color1;
        list-style-type: none;
        background-color: $menu-color2;
        padding: 0;
        margin: 20px auto;
        width: 216px;
        border-radius: $round-corner;
        li {
            padding: 12px 10px;
            border: 1px solid white;
        }
}




.burger-menu-box {
    border: 1px solid red;
    border-radius: $round-corner;
    width: 216px; 
    height: 112px;
    margin: 0 auto;
    .burger-menu-icon-parent {
        padding-bottom: 10px;
    }
    a {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    p,
    h1 {
        padding: 0;
        margin: 0;
    }
    p {
        font-size: 10px;
    }
    h1 {
        font-size: 18px;
        font-weight: $regular;
    }

}



//wider screen version
.wider-screen-menu-content {
    background-color: $menu-color1;
    width: 100%;
    padding: 0;
    margin: 0;
}

.wider-screen-menu-content ul {
    margin: 0;
    padding: 0;
}

.wider-screen-menu-content h2 {
    font-size: 16px;
    font-weight: $regular;
    padding-left: 20px;
    padding-top: 17px;
    padding-bottom: 17px;
    border: 1px solid lightcoral;
    margin-bottom: 0;
    margin-top: 0;
}


.wider-screen-menu-content li {
    padding-left: 50px;
    padding-top: 17px;
    padding-bottom: 17px;
    border: 1px solid magenta;
    background-color: $menu-color2;
    width: 100%;
    font-size: 14px;
    span {
        padding-left: 50px;
    }
}


//ICONS
@each $theme, $color in $themes {
    #burger-menu-icon-#{$theme} {
        color: $color;
    }
} 