// body {
//     width: 100vw; //adding this avoids a delay in the body moving/resizing when the menu is open.
// }

body {
    width: 100%;
}

// body {
//     width: calc(100vw - (100vw - 100%)); //makes it the whole width, minus the scrollbar
//   }

.burger-menu {
    display: block;
    position: fixed; //the child (burger-menu-container) is set to position absolute, with overflow-y set to auto to enable scrolling.
    width: 238px;
    //transform: translate(238px, 0); //keeps the burger menu to the right of the body content. 238px is the width of the burger menu (mobile version)
    top: 0;
    right: 0;
    height: 100vh;
    z-index: -1;//999; was putting it over, but let's see what happens if it's underneath
    a {
        color: $white;
        text-transform: uppercase;
    }
}

.burger-menu-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $menu-color1;
    overflow-y: scroll; //adds menu scroll functionality
    //-webkit-overflow-scrolling: touch; //enables momentum scrolling on iOS - necessary for this?
}



///mobile version
.mobile-menu-content {
    text-align: center;
    background-color: $menu-color1;
    ul {
        list-style-type: none;
        background-color: $menu-color2;
        padding-left: 0;
        margin: 0 auto;
        width: 196px;
    }
}

//wider screen version
.wider-screen-menu-content {
    background-color: $menu-color1;
    width: 100%;
    padding: 0;
    margin: 0;
}

.wider-screen-menu-content ul {
    margin: 0;
    padding: 0;
}


.wider-screen-menu-content li {
    padding-left: 30px;
    background-color: $menu-color2;
    width: 100%;
    span {
        padding-left: 40px;
    }
}
