
.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.cards {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around; 
    letter-spacing: 0.4px;  
}

.card {
    border: 1px solid red;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 30px 30px;
    margin-top: 30px;
    width: 100%;
    box-shadow: rgba(0,0,0, 0.1) 0px 3px 35px 0px;
    border-radius: 3px;
}

.card h2 {
    position: relative;
    padding-bottom: 17px;
    margin-top: 0;
    margin-bottom: 11px;
    font-size: 18px;
    font-weight: 400;
    line-height: 19.8px;
}

.card h2::after {
    content: "";
    position: absolute;
    width: 30px;
    top: 35px;
    left: calc(50% - 15px);
    border-bottom: 4px solid red;
    
}

.card p {
    margin-bottom: 13px;
    line-height: 22px;
    font-size: 13px;
}

.card .fake-button {
    padding: 5px 15px;
    font-size: 17.008px;
    line-height: 35px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px 15px;
}

.intro h1 {
    margin: 0 0;
}

.intro p {
    margin-bottom: 0;
}

.latest {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 0;
}

.latest > h3 {
    padding-bottom: 35px;
    position: relative;
    text-transform: uppercase;
}

.latest > h3::after {
    content: "";
    position: absolute;
    width: 65px;
    left: 0;
    bottom: 0;
    border-bottom: 5px solid red;
}

.news-text {
    padding: 0 25px;
}

.news-text  > .button {
    text-align: left;    
}

.latest a {
    margin: 20px auto;
}

.news {
    margin: 10px 0px;
    border: 3px red solid;
    padding: 20px 0;
}

.news img {
    width: 100%;
    max-width: 600px;
}

.posted-by {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 1px red solid;
    padding-top: 25px;
    margin-top: 10px;
}

.posted-by-text {
    display: flex;
    flex-direction: column;
}   
 
.posted-by-text p {
    text-align: left;
    margin: 0 20px;
    padding: 2px 0;
}

.thumbnail img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 0;
}




