* {
    box-sizing: border-box;
}


// TEMPORARY BACKGROUND COLORS TO ACTIVATE TO CHECK LAYOUT

header {
    background-color: purple;
}

main {
    background-color: green;
}

footer {
    background-color: hotpink;
}

// HEADER
nav {
    background-color: khaki;
    height: 100px;
}

.banner {
    background-color: lightcoral;
}


//MAIN

.main-content {
}

.cards {
    background-color: khaki;  
}

.card {
    background-color: white;
}

.intro {
    background-color: lightcoral;
}

.latest {
    background-color: lightskyblue;
}


//FOOTER

.contact {
    background-color: khaki;
}

.about {
    background-color: lightcoral;
}

.website {
    background-color: lightskyblue;
}

.social {
    background-color: lightslategrey;
}



// START ACTUAL LAYOUT CODE

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#search-bar {
    flex-basis: 100%;
    align-self: center;
    text-align: center;
    border: 3px solid red;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 525px;
    background-image: url("https://placeimg.com/1000/480/tech");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    text-align: center;
}

.banner h1 {
    margin-top: 0;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.cards {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    padding: 30px 0;
   
}

.card {
    border: 3px solid red;
    margin: 15px 0;
}

.card h3 {
    position: relative;
    padding-bottom: 20px;
}

.card h3::after {
    content: "";
    position: absolute;
    width: 30px;
    top: 40px;
    left: calc(50% - 15px);
    border-bottom: 4px solid red;
    
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px 15px;
}

.intro h1 {
    margin: 0 0;
}

.intro p {
    margin-bottom: 0;
}

.latest {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 0;
}

.latest > h3 {
    padding-bottom: 35px;
    position: relative;
}

.latest > h3::after {
    content: "";
    position: absolute;
    width: 60px;
    left: 0;
    bottom: 0;
    border-bottom: 5px solid red;
}



.news-text {
    padding: 0 25px;
}

.news-text  > .button {
    text-align: left;    
}

.latest a {
    margin: 20px auto;
}

.news {
    margin: 10px 0px;
    border: 3px red solid;
    padding: 20px 0;
}

.news img {
    width: 100%;
    max-width: 600px;
}

.posted-by {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 1px red solid;
    padding-top: 25px;
    margin-top: 10px;
}

.posted-by-text {
    display: flex;
    flex-direction: column;
}   
 
.posted-by-text p {
    text-align: left;
    margin: 0 20px;
    padding: 2px 0;
}

.thumbnail img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 0;
}

footer {
    display: flex;
    flex-direction: column;
}

.contact,
.about,
.website,
.social {
    padding: 0px 15px;
}

.contact ul,
.about ul,
.website ul,
.social ul {
    list-style-type: none;
    padding-left: 0;
}

.social {
    display: flex;
    flex-direction: column;
}

.social-button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}

.social-button li {
    list-style-type: none;   
    width: 45%;
    text-align: center;
    border: 3px solid red;
    margin: 2%;
   
}

.social-button li a {
    padding: 15px 50px;
    display: block;
}

#facebook,
#twitter {
    flex-basis: 1; 
}

#linked-in {
    flex-basis: 2;
}





//BUTTON
.button a {
    padding: 15px;
    border: 3px solid red;
    width: 150px;
    text-align: center;
    margin-top: 20px;
    display: inline-block;
    border-radius: 5%;
}

.fake-button {
    padding: 15px;
    border: 3px solid red;
    width: 150px;
    text-align: center;
    margin: 20px 0;
    display: inline-block;
    border-radius: 5%;
}