
footer {
    display: flex;
    flex-direction: column;
}


.client-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    margin: 30px 0;
    display: none;
}


.partner-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80px;
    margin: 30px 0;
    display: none;
}

#google {
    // padding: 0px 0px;
    // margin: 0px 0px;
    width: 240px;
}

#google img {
    height: 100%;
}


// #future-50:hover {
//     background-image: url(../../images/external-branding/other/future-50-color.jpeg);
// }


// // STATIC HIDE COLOR 
// #future-50 .color,
// #qms .color,
// #carbon-charter .color {
//     display: none;
// }

// // HOVER SHOW COLOR
// #future-50:hover .color,
// #qms:hover .color,
// #carbon-charter:hover .color {
//     display: inline-block;
// }

// // HOVER HIDE BW
// #future-50:hover .bw,
// #qms:hover .bw,
// #carbon-charter:hover .bw {
//     display: none;
// }






.contact > h2,
.about > h2,
.website > h2,
.social > h2 {
    text-transform: uppercase;
    font-weight: 400;
}

.contact,
.about,
.website,
.social {
    padding: 0px 15px;
}

.contact ul,
.about ul,
.website ul,
.social ul {
    list-style-type: none;
    padding-left: 0;
}

.social {
    display: flex;
    flex-direction: column;
}

.social-button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}

.social-button li {
    list-style-type: none;   
    width: 45%;
    text-align: center;
    border: 3px solid red;
    margin: 2%;
   
}

.social-button li a {
    padding: 15px 50px;
    display: block;
}

#facebook,
#twitter {
    flex-basis: 1; 
}

#linked-in {
    flex-basis: 2;
}

