//MAIN-FOOTER //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.main-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
    line-height: 22.8571px;
    color: $white;
    background-color: $main-grey;
}

.main-footer a {
    font-size: 13px;
    line-height: 22px;
    color: $white;
}

.main-foot-cont {
    height: 100%;
    width: 100%;
    padding-top: 47px;
    padding-bottom: 43px;   
    display: flex;
    flex-wrap: wrap;
}

//Sub-sections
.contact > h2,
.about > h2,
.website > h2,
.social > h2 {
    text-transform: uppercase;
    font-weight: $regular;
    margin-top: 0;
    font-size: 16px;
    line-height: 17.6px;
    width: 95%;
}

.contact > h2,
.about > h2,
.website > h2 {
    margin-bottom: 26px;
}

.social > h2 {
    margin-bottom: 0; //adjusted for social button top margin of 30px
}

.contact li,
.about li,
.website li {
    font-size: 13px;
    line-height: 22px;
}

.contact,
.about,
.website,
.social {
    padding: 0px 15px;
    width: 100%;
}

.contact,
.about,
.website {
    margin-bottom: 30px;
}

.contact ul,
.about ul,
.website ul,
.social ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.social {
    height: 190px;
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//CLIENT FOOTER //larger screens only ////////////////////////////////////////////////////////////////////////////

.client-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    background-color: $white;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: inset 0px 5px 35px 0px rgba(0, 0, 0, 0.1);
}

.footer-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

//CLIENT LOGOS ////////////////////

//medium screens 768px
#busseys {
    width: 121.1px;
    height: 45.1px;
    display: inline-block;
    background: $white url("../../html-css-reflection/images/external-branding/clients/busseys-bw.jpeg") no-repeat center;
    background-size: cover;
    &:hover {
        background: $white url("../../html-css-reflection/images/external-branding/clients/busseys-color.png") no-repeat center;
        background-size: cover;
    }
} 

#crane {
    width: 186px; 
    height: 45px;
    background: $white url("../../html-css-reflection/images/external-branding/clients/crane-bw.jpeg") no-repeat center;
    background-size: cover;
    &:hover {
        background: $white url("../../html-css-reflection/images/external-branding/clients/crane-color.png") no-repeat center;
        background-size: cover;
    }
}

#beat { 
    width: 46.4px; 
    height: 45.1px;
    background: $white url("../../html-css-reflection/images/external-branding/clients/beat-bw.jpeg") no-repeat center;    
    background-size: cover;
    &:hover {
        background: $white url("../../html-css-reflection/images/external-branding/clients/beat-color.png") no-repeat center;
        background-size: cover;
    }
}

#northern-diver {
    width: 207.5px; 
    height: 45px;
    background: $white url("../../html-css-reflection/images/external-branding/clients/northern-diver-bw.jpeg") no-repeat center;
    background-size: cover;
    &:hover {
        background: $white url("../../html-css-reflection/images/external-branding/clients/northern-diver-color.png") no-repeat center;
        background-size: cover;
    }
}

//TOOLTIPS /////////////////////////////////////
.client-footer .tooltip {
    position: relative;
}

.client-footer .tooltip-text {
    display: none;
  }

.client-footer .tooltip:hover .tooltip-text {
    display: inline-block;
}

.client-footer .tooltip .tooltip-text {
    background-color: $main-grey;
    color: $white;
    text-align: center;
    padding: 20px;
    font-size: 13px;
    line-height: 22px; 
    margin-bottom: 50px; //positions the tooltip on the footer line

    //Position the tooltip text
    position: absolute;
    z-index: 5;
    width: 260px;
    bottom: 100%;
    left: 50%;
    margin-left: -130px; //Use half of the width (120/2 = 60), to center the tooltip
}

//bottom arrow
.client-footer .tooltip .tooltip-text::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -36px;
    border-width: 36px;
    border-style: solid;
    border-color: $main-grey transparent transparent transparent;
  }

.footer-logos .tooltip-text p {
    margin-bottom: 0;
}

.footer-logos .tooltip-title {
    font-size: 18px;
    padding-bottom: 17px;
    margin-top: 0;
    margin-bottom: 11px;
    font-weight: $regular;
    position: relative;
}

.footer-logos .tooltip-title::after {  //////////EXACT SAME SETTINGS AS THE CARDS - CREATE MIXIN?
    content: "";
    position: absolute;
    width: 30px;
    top: 35px;
    left: calc(50% - 15px);
    border-bottom: 3px solid $white;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//PARTNER FOOTER ///////////////////////////////////////////////////////////////////////////////////////////////////////////
.partner-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: 188px;
    background-color: $white;
}

//PARTNER LOGOS ///////////////////////
#google {
    width: 214px;
    height: 70px;
    background: $white url("../../html-css-reflection/images/external-branding/other/google-color.png") no-repeat center;
    background-size: cover;
    align-self: center;
}

//medium screens 768px
#microsoft {
    width: 87.6px;
    height: 53.3px;
    background: $white url("../../html-css-reflection/images/external-branding/other/microsoft-bw.jpeg") no-repeat center;
    background-size: cover;
    align-self: center;
}

#future-50 {
    width: 33.5px; 
    height: 53.3px;
    background: $white url("../../html-css-reflection/images/external-branding/other/future-50-bw.jpeg") no-repeat center;
    background-size: cover;
    align-self: center;
    &:hover {
        background: $white url("../../html-css-reflection/images/external-branding/other/future-50-color.jpeg") no-repeat center;
        background-size: cover;
        align-self: center;
    }
}

#qms {
    width: 45.7px; 
    height: 53.3px;
    background: $white url("../../html-css-reflection/images/external-branding/other/qms-bw.jpeg") no-repeat center;
    background-size: cover;
    align-self: center;
    &:hover {
        background: $white url("../../html-css-reflection/images/external-branding/other/qms-color.jpeg") no-repeat center;
        background-size: cover;
        align-self: center;
    }
}

#carbon-charter {
    width: 133.3px; 
    height: 53.3px;
    background: $white url("../../html-css-reflection/images/external-branding/other/carbon-charter-bw.jpeg") no-repeat center;
    background-size: cover;
    align-self: center;
    &:hover {
        background: $white url("../../html-css-reflection/images/external-branding/other/carbon-charter-color.jpeg") no-repeat center;
        background-size: cover;
        align-self: center;
    }
}

.client-footer,
.partner-footer {
    display: none;
}








    
