
header {
    width: 100%;
    position: relative;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    height: 168px;
    width: 100%;
    position: relative;
    padding-bottom: 60px;
    @media (min-width: $break-sm) {
        flex-wrap: nowrap;
        width: 750px;
        height: 110px;
        margin: 0 auto;
        padding-bottom: 0;
    }
    @media (min-width: $break-med) {
        width: 970px;
        margin: 0 auto;
    }
    @media (min-width: $break-lg) { 
        width: 1200px;
    }
}

#logo {
    height: auto;
    padding-left: 15px;
    flex: 1 1;
    @media (min-width: $break-sm) {
        width: 375px;
        padding-right: 15px;
    }
}

#logo img {
    max-width: 100%;
    @media (min-width: $break-sm) {
        width: 345px;
    }
    @media (min-width: $break-med) {
        width: 370px;
    }
}

#direct-call {
    display: flex;
    height: 70px;
    width: 70px;
    font-size: 20px;
    line-height: 26px;
    color: $main-grey;
    justify-content: center;
    padding-top: 16px;
    margin-left: auto;
    & i {
        width: 32px;
        height: 32px;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        position: relative;
        &:hover::after {
            content: "";
            position: absolute;
            width: 32px;
            left: 0px;
            bottom: -2px;
            border-bottom: 3px solid $main-grey;
            z-index: 2;
        }
    }
    @media (min-width: $break-sm) {
        display: none;
    }
}

#menu {
    display: flex;
    flex-direction: column;
    height: 56px;
    line-height: 46px;
    width: 63px; 
    margin-right: 15px;
    text-align: center;
    color: $white;
    background-color: $menu-color1;
    border: 1px solid $menu-color1;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: $round-corner;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    &:hover,
    &:active {
        background-color: $menu-color2;
        border-color: $menu-color3;
    }
    & i {
        font-size: 22px;
        line-height: 22px; 
    }
    & span {
        font-size: 11px;
        line-height: 12px;
        text-transform: uppercase;
        letter-spacing: normal;
        margin-top: 4px;
    }
    @media (min-width: $break-sm) {
        order: 2;
        margin-left: 20px;
    }
}

.support-button,
.contact-button {
    padding: 5px 13px;
    font-size: 18px;
    line-height: 46px;
    height: 56px;
    text-align:	center;
    border-radius: $round-corner;
    color: $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    display: none; //hidden for small screens
    @media (min-width: $break-med) {
        //hide on toggle, see js-classes.scss and searchbar.js
        display: inline-block;
    }
    @media (min-width: $break-lg) {
        //Making certain the buttons are displayed after toggle in the previous screen size.
        display: inline-block;
    }
}

.support-button {
    background-color: $it-color1;
    border: 1px solid $it-color1;
    width: 145px;
    &:hover,
    &:active {
        background-color: $it-color2;
        border-color: $it-color3;
    }
    // @media (min-width: $break-med) { //doesn't seem to be necessary.
    //     margin-left: auto;
    // }
}

.contact-button {
    background-color: $contact-color1;
    border: 1px solid $contact-color1;
    margin-left: 20px;
    width: 153px;
    &:hover,
    &:active {
        background-color: $contact-color2;
        border-color: $contact-color3; 
    }
}

.search-bar {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    align-self: center;
    height: 47px;
    padding: 0 15px;
    margin-top: 10px;
    @media (min-width: $break-sm) {
        //NAV SEARCH BAR moves up
        display: inline-block;
        display: flex;
        flex-direction: row;
        width: 240px;
        align-self: center;
        justify-self: center;
        height: 56px;
        margin-left: auto;
        //ADDITIONS FROM MEDIA QUERY CHANGES
        position: relative;
        bottom: 0;
        padding: 0 0; //not working?
        margin-top: 0; //to increase?
        margin: 0 auto;
    }
    @media (min-width: $break-med) {
        //container gets narrower when the support and contact buttons are displayed, and expands on toggle to accommodate the search input
        width: 63px;
        margin-left: 20px;
    }
    @media (min-width: $break-lg) { 
        //return to wider container for large screens
        width: 303px;
    }
}

#search-bar-input {
// .search-bar input[type=text] {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: normal;
    color: #555555; //seems too dark?
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, .1);
    box-shadow:rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
    border-radius: 2px;
    border: 2px solid rgba(0, 0, 0, .1);    
    outline: 1px solid hsla(0, 0%, 100%,.2);
    padding-top: 8px; //was 5px originally
    padding-bottom: 8px; //was 5px originally
    padding-left: 15px; 
    padding-right: 40px; 
    &:focus {
        outline: none;
        box-shadow: none;
    }
    //SEARCH BAR //remove box shadow & change border
    @media (min-width: $break-sm) {
        outline: none;
        border: 1px solid $second-grey;
        background-color: $white;
        border-radius: 0;
        height: 56px;
        width: 174px;
        font-size: 14px;
        line-height: 20px;
        position: relative;
        right: 0;
        //NAV SEARCH BAR focus blue
        &:focus {
            outline: 0;
            border: .5px solid #5bc0de;
            box-shadow: rgba(91, 192, 222, .6) 0px 0px 8px 0px;
        }
    }
    //displays on toggle, see js-classes.scss and searchbar.js
    //@media (min-width: $break-med) - see js.scss, toggle. Set to display: none with a class.
    @media (min-width: $break-med) { 
        width: 300px;
    }
    
    //bring back search input
    @media (min-width: $break-lg) { 
        display: inline-block;
        width: 240px;
    }
}



.search-bar button[type=button] {
    position: absolute;
    top: 0px;
    right: 15px;
    z-index: 2;
    background-color:transparent;
    padding: 0 0;
    border: none;
    outline: none;   
    &:hover {
        cursor: pointer;
    }
    & i {
        height: 47px;
        line-height: 47px;
        width: 47px;
        font-size: 20px;
        color: $main-grey;
        text-align: right;
        padding-right: 10px; 
    }
    @media (min-width: $break-sm) {
        background-color: $search-button-color1;
        height: 56px;   
        border-radius: 0px 3px 3px 0px;
        width: 63px;
        position: relative;
        left: 0;
        &:hover {
            background-color: $search-button-color2;
        }
        & i {
            color: $white;
            height: 56px;
            line-height: 56px;
            font-size: 23px;
            width: 100%;
            text-align: center;
            padding-right: 0;
        }
    }
    @media (min-width: $break-med) {
        border-radius: $round-corner;
    }
    //re-square the search button inner corners
    @media (min-width: $break-lg) {  
        border-radius: 0px 3px 3px 0px;
    }
}

