html {
    position: relative;
}

body {
    position: relative;
}

header {
    width: 100%;
    position: relative;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    height: 168px;
    width: 100%;
    position: relative;
    padding-bottom: 60px;
}

#logo {
    height: auto;
    padding-left: 15px;
    flex: 1 1;
}


#logo img {
    max-width: 100%;
}

#direct-call {
    display: flex;
    height: 70px;
    width: 70px;
    font-size: 20px;
    line-height: 26px;
    color: #333645;
    justify-content: center;
    padding-top: 16px;
    margin-left: auto;
}

#direct-call i {
    width: 32px;
    height: 32px;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    position: relative;
}

#direct-call i:hover::after {
        content: "";
        position: absolute;
        width: 32px;
        left: 0px;
        bottom: -2px;
        border-bottom: 3px solid #333645;
        z-index: 2;
      
}


#menu {
    display: flex;
    flex-direction: column;
    height: 56px;
    line-height: 46px;
    width: 63px; 
    margin-right: 15px;
    text-align: center;
    color: #ffffff;
    background-color: #333645;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
}

#menu:hover {
    background-color: #22242e;
}

#menu i {
    font-size: 22px;
    line-height: 22px;
}

#menu span {
    font-size: 11px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: normal;
    margin-top: 4px;
}

#support,
#contact {
    padding: 5px 15px;
    font-size: 18px;
    line-height: 46px;
    height: 56px;
    text-align:	center;
    border-radius: 3px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    display: none; //hidden for small screens
}

#support {
    background-color:#4183d7;
    width: 145px;
}

#support:hover {
    background-color:#2a6ec6;
}

#contact {
    background-color: #999aa2;
    margin-left: 20px;
    width: 153px;
}

#contact:hover {
    background-color: #84858f;
}

#search-bar {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    align-self: center;
    height: 47px;
    padding: 0 15px;
    margin-top: 10px;

}

#search-bar input[type=text] {
    //correct
    font-size: 14px;
    line-height: 20px;
    letter-spacing: normal;
    color: #555555; //seems too dark?
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, .1);
    box-shadow:rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
    border-radius: 2px;
    border: 2px solid rgba(0, 0, 0, .1);    
    outline: 1px solid hsla(0, 0%, 100%,.2);
    padding-top: 8px; //was 5px originally
    padding-bottom: 8px; //was 5px originally
    padding-left: 15px; 
    padding-right: 40px; 
}

#search-bar input[type=text]:focus {
    outline: none;
    box-shadow: none;
}

#search-bar button[type=button] {
    position: absolute;
    top: 0px;
    right: 15px;
    z-index: 2;
    background-color:transparent;
    padding: 0 0;
    border: none;
    outline: none;   
}

#search-bar button[type=button] i {
    height: 47px;
    line-height: 47px;
    width: 47px;
    font-size: 20px;
    color: #333645;
    text-align: right;
    padding-right: 10px; 
}

////////////////////////////////////////////////////


.banner {
    display: flex;
    flex-direction: column;
    width: 100%; 
    align-items: center;
    justify-content: center;
    height: 525px;
    background-color: #000000;

    //mobile/tablet gradient
    background:  linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5975432409291841) 80%, rgba(0,0,0,0.39866368910845584) 100%),
    url("../../html-css-reflection/images/slides/slide-1.jpeg");  
   
   //desktop gradient in media query
//    background:  linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4042659300048145) 35%, rgba(0,0,0,0) 100%),
//    url("../../html-css-reflection/images/slides/slide-1.jpeg");  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    text-align: center; 
}

.banner-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    //width: 100%; 
    //align-items: center;
    //justify-content: center;
    //height: 525px;
    //margin: 0 auto;
    //text-align: center; 
}


.banner-container > h1 {
    margin: 0 auto;
    margin-bottom: 25px;
    font-size: 48px;
    line-height: 52.8px;
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    width: 95%;
}

.banner-container > span {
    margin: 0 auto;
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 400;
    width: 95%;
}

