
//UNDER 768PX
@media (max-width: 768px) {

    //FOOTERS partner and client footers hidden for smaller screens. //DONE
    .client-footer,
    .partner-footer {
        display: none;
    }
  }


//FROM 768PX
@media (min-width: 768px) {

    //FOOTERS main footer splits into 2 columns. TO EDIT MARGINS/PADDING
    .main-footer {
        flex-direction: row; //started working on 2 and 4 column layouts for larger screens
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;
    }

    .about,
    .contact,
    .website,
    .social {
        width: 50%;
        border: 2px solid red;
        align-self: flex-start;
    }

    //LATEST 3rd news item hidden. //DONE
    .news-3 {
        display: none;
    }

    //NAV call button disappears. //DONE
    #direct-call {
        display: none;
    }

    //CARD bottom 4 cards switch to 2 column layout. TO LOOK AT MARGINS/PADDING.
    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card-telecoms,
    .card-web,
    .card-cyber,
    .card-training {
        width: 45%;
    }

    //LATEST switch to 2 column layout. Fixed width. 
    .latest {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .latest h2 {
        display: block;
        width: 100%;
    }
    .news {
        width: 345px; //was 45%
    }
}


//NAV search bar moves up

//INTRO max width activated
//INTRO left margin starts to expand

//FOOTERS need to set smaller logo size




//FROM 992PX


@media (min-width: 992px) {

        //NAV bar appears. //DONE
        .nav-2 {
            display: block;
        }

        //INTRO background image added. //DONE
        .intro {
            background: #333645 url("../../html-css-reflection/images/internal-branding/logo-zoomed-transparent.png") no-repeat right top;
        }

        //BANNER text aligns left & image gradient changes
        .banner {
            align-items: flex-start;
            text-align: left;
            background:  linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4042659300048145) 35%, rgba(0,0,0,0) 100%),
                        url("../../html-css-reflection/images/slides/slide-1.jpeg");
            background-size: cover;
        }

        //CARD format 3 + 2 + 2. TO LOOK AT MARGINS/PADDING.
        .card-software,
        .card-it,
        .card-marketing {
            width: 30%;
        }

        //LATEST news items new width. TO EDIT MARGINS/SPACING
        .news {
            width: 455px;
        }
    }


//NAV support and contact buttons appear
//NAV search bar becomes a button that animates on focus

//BANNER margin-left starts expanding

//INTRO margins reset and start to expand again


//LATEST need to add animation-zoom

//FOOTER client and partner logos grow




//FROM 1260PX


@media (min-width: 1260px) {
    

    //FOOTER main footer switches to 4 column layout. //TO EDIT MARGINS/PADDING
    .about,
    .contact,
    .website,
    .social {
        width: 25%;
    }

    // CARDS format 3 + 4. TO LOOK AT MARGINS/PADDING.
    .card-telecoms,
    .card-web,
    .card-cyber,
    .card-training {
        width: 23%;
    }

    //LATEST 3rd news item added again. //DONE.
    .news-3 {
        display: inline-block; 
    }

    //LATEST news items resized for 3 columns
    .news {
        width: 31%;
    }
}
  
//NAV search bar expands - animation

//BANNER margin left fixed width

//INTRO margins reset. Text moves left, max-width set on text.



