//Gradually relocating all media queries into the other partials as I work through the JS reflection.
//I've already moved all of the ones that could impact on the JS interactions.

//still to move:
//1) Latest section with the news items
//2) footers (main, client, and partner footers)



///////////////////////////////////////////////////////////////////////////////////////////////
//FROM 768PX --------------------------------------------------------------------------------
///////////////////////////////////////////////////////////////////////////////////////////////
@media (min-width: $break-sm) {

    //////////////////////////////////////////////////////////////////////////////////
    //FOOTER /////////////////////////////////////////////////////////////////////////////
    //Footers main footer splits into 2 columns.
    .main-footer {
        flex-direction: row; 
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;
        height: 528px;
    }

    .main-foot-section {
        width: 375px;
        align-self: flex-start;
    }

    //Footer width
    .main-foot-cont {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 750px;
        margin: 0 auto;
    }
   
    //Display logo footers
    .client-footer,
    .partner-footer {
        display: flex;
}

    .footer-logos,
    .partner-footer {
        width: 720px;
        margin: 0 auto;
    }

    //Social button width
    .social-button li a {
        width: 157.5px;
    }

}


////////////////////////////////////////////////////////////////////////////////////////////////
//FROM 993PX --------------------------------------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////
@media (min-width: $break-med) {
   
    
    ////////////////////////////////////////////////////////////////////////////////////////
    //FOOTERS ///////////////////////////////////////////////////////////////////////
    //Footer width
    .footer-logos,
    .partner-footer {
        width: 940px;
        margin: 0 auto;
    }

    .main-foot-cont {
        width: 970px;
        margin: 0 auto;
    }

    //FOOTER HEIGHT
    .partner-footer {
        height: 210px;
    }

    //Main footer sub-section widths        
    .main-foot-section {
        width: 485px;
    }

    //FOOTER CLIENT AND PARTNER LOGO RESIZING. Not sure about the larger partner logos at this size - visually prefer the settings for the next screen up due to image quality and spacing.     
    #busseys {
        width: 168.7px;
        height: 62.8px;
    } 

    #crane {
        width: 260px; 
        height: 62.8px;
    }

    #beat { 
        width: 64.6px; 
        height: 62.8px;
    }

    #northern-diver {
        width: 289px; 
        height: 62.8px;
    }

    #microsoft {
        width: 140.2px;
        height: 85.3px;
    } 

    #future-50 {
        width: 69.2px; 
        height: 110.1px;
    }

    #qms { 
        width: 85.2px; 
        height: 99.4px;
    }

    #carbon-charter {
        width: 200.2px; 
        height: 80.1px;
    }

    //SOCIAL BUTTON WIDTH
    .social-button li a {
        width: 212.5px;
    }
}


//////////////////////////////////////////////////////////////////////////////////////////////////
//FROM 1260PX -----------------------------------------------------------------------------
/////////////////////////////////////////////////////////////////////////////////////////////////
@media (min-width: $break-lg) {  

    //////////////////////////////////////////////////////////////////////////////////
    //FOOTER /////////////////////////////////////////////////////////////////////////////
    //Footer heights
    .main-footer {
        height: 309px;
    }

    .partner-footer {
        height: 188px;
    }

    //Footer widths
    .footer-logos,
    .partner-footer {
        width: 1170px;
        margin: 0 auto;
    }

    .main-foot-cont {
        width: 1200px;
        margin: 0 auto;
    }

    //Footer client logos - SWITCH TO FULL SIZE IMAGE SPRITES
    #busseys {
        width: 188px; 
        height: 70px;
        background: url("../images/external-branding/clients/busseys-sprite.png") -10px -10px;
        &:hover {
            background: url("../images/external-branding/clients/busseys-sprite.png") -10px -100px;
        }
    }
    
    #crane {
        width: 287px; 
        height: 70px;
        background: url("../images/external-branding/clients/crane-sprite.png") -10px -10px;
        &:hover {
            background: url("../images/external-branding/clients/crane-sprite.png") -10px -100px;
        }
    }
    
    #beat { 
        width: 72px; 
        height: 70px;
        background: url("../images/external-branding/clients/beat-sprite.png") -10px -10px;    
        &:hover {
            background: url("../images/external-branding/clients/beat-sprite.png") -102px -10px;
        }
    }  
    
    #northern-diver {
            width: 322px; 
            height: 70px;
            background: url("../images/external-branding/clients/northern-diver-sprite.png") -10px -10px;
            &:hover {
                background: url("../images/external-branding/clients/northern-diver-sprite.png") -10px -100px;
        }
    }
    
    //Footer client logos - SWITCH TO FULL SIZE IMAGE SPRITES
    #microsoft {
        width: 115px;
        height: 70px;
        background: url("../images/external-branding/other/microsoft-bw.jpeg");
        background-size: cover;
    }

    #future-50 {
        width: 44px; 
        height: 70px;
        background: url("../images/external-branding/other/future-50-sprite.png") -10px -10px;
        &:hover {
            background: url("../images/external-branding/other/future-50-sprite.png") -74px -10px;
        }
    }

    #qms {
        width: 60px; 
        height: 70px;
        background: url("../images/external-branding/other/qms-sprite.png") -10px -10px;
        &:hover {
            background: url("../images/external-branding/other/qms-sprite.png") -90px -10px;
        }
    }

    #carbon-charter {
        width: 175px; 
        height: 70px;
        background: url("../images/external-branding/other/carbon-charter-sprite.png") -10px -10px;
        &:hover {
            background: url("../images/external-branding/other/carbon-charter-sprite.png") -10px -100px;
        }
    }

    //Main footer switches to 4 column layout 
    .main-foot-section {
        width: 300px;
    }

     //Social button width
     .social-button li a {
        width: 120px;
    }
}
  

