
// ICON COLORS - static color
@each $theme, $color in $themes {
    #nav-icon-#{$theme}:not(last-child) {
        color: $color;
    }
} 

//hover white
@each $theme, $color in $themes {
    .title-#{$theme}:hover:not(last-child) .icon-parent > #nav-icon-#{$theme}:not(last-child) {
        color: $white;
    }
} 





//BOX HOVER BACKGROUND COLOR
@each $theme, $color in $themes {
    .title-#{$theme}:hover:not(last-child) {
        background-color: $color;
    }
} 



// NAV BAR - HIDDEN FOR SMALL SCREENS
.nav-2 {
    border-bottom: 1.25px solid rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 98px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: $main-grey;
    position: relative; //position set to relative to align dropdown nav bars.
    display: none;
}

.nav-2 a{
    height: 98px;
}

// NAV BAR PRIMARY OPTIONS
.nav-box-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 154px;
    color: $white;
    border-left: 1px solid hsla(0,0,100%,.1);
    border-right: 1px solid rgba(0,0,0,.25);
    text-transform: uppercase;
}


.nav-box-text > * {
    margin: 0 0;
}

//BOX PSEUDO-ELEMENTS FOR EXTRA SIDE BORDERS. Relative to nav-2 - can't be relative to title-web and title-cyber as it affects the dropdown nav-bars.
.nav-box-text {
    position: relative;
}
.title-web .nav-box-text::before {
    content: "";
    position: absolute;
    height: 98px;
    left: -1.5px;
    top: 0;
    border-left: 0.5px solid rgba(0,0,0,.25);
}

    .title-cyber .nav-box-text::after {
    content: "";
    position: absolute;
    height: 98px;
    right: -1.5px;
    top: 0;
    border-right: 0.5px solid hsla(0,0%,100%,.1);
}



//FOR THE TEXT
#nav-icon-web, 
#nav-icon-software,
#nav-icon-it,
#nav-icon-marketing,
#nav-icon-telecoms,
#nav-icon-cyber {
    font-size: 20px; //23px in original code, but looks too big for these icons
    line-height: 20px; //23px in original code, but looks too big for these icons
    padding-bottom: 10px;
}

.nav-box-text > p {
    padding-bottom: 1px;
    font-size: 10px;
    line-height: 10px;
    font-weight: $regular;
}

.nav-box-text > h1 {
    font-size: 18px;
    line-height: 18px;
    font-weight: $regular;
} 


//DROPDOWN NAV BARS
.nav-web,
.nav-it,
.nav-telecoms,
.nav-software,
.nav-marketing,
.nav-cyber {
    display: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute; //position aligned to nav-2
    left: 0;
    right: 0;
    bottom: -44.5px; //height of the dropdown nav bars
    line-height: 45px;
    font-size: 13px; 
    text-transform: uppercase;
    z-index: 2; //prevents slight side border visibility in IE
}

.secondary-nav-text {
    width: 912px;
    display: flex;
    flex-direction: flex-row;
    text-align: center;
    justify-content: space-between;
    letter-spacing: 0.4px;
    margin: 0 auto;
}

.secondary-nav-text a {
    padding: 10px 0px;
}

.secondary-nav-text a,
.secondary-nav-text a:visited {
    color: $white;
}

//DROPDOWN NAV. colors
@each $theme, $color in $themes-secondary {
    .title-#{$theme} > .nav-#{$theme}:not(last-child) {
        background-color: $color;
        color: $white;
        display: none; //HIDDEN        
    }
} 


//DROPDOWN NAV. hover - display
@each $theme, $color in $themes { 
    .title-#{$theme}:hover > .nav-#{$theme}:not(last-child){
        display: flex;  
    }
}



