
// // BREAKPOINTS
$breakpoints: (
    'sm': $break-sm,
    'med': $break-med,
    'lg': $break-lg,
);


// COLOR THEMES
$themes: (
    'software': $software-color1,
    'it': $it-color1,
    'marketing': $marketing-color1,
    'telecoms': $telecoms-color1,
    'web': $web-color1,
    'cyber': $cyber-color1,
    'training': $training-color1,
);

$themes-secondary: (
    'software': $software-color2,
    'it': $it-color2,
    'marketing': $marketing-color2,
    'telecoms': $telecoms-color2,
    'web': $web-color2,
    'cyber': $cyber-color2,
    'training': $training-color2,
);


// ICONS
@each $theme, $color in $themes {
    .icon-#{$theme} i {
        background-color: $color;
    }
} 

// ICONS:HOVER
@each $theme, $color in $themes {
    .card-#{$theme}:hover .icon-#{$theme} i {
        color: $color;
        background-color: $white;
    }
} 

// BUTTONS
@each $theme, $color in $themes {
    .button-#{$theme} {
        color: $white;
        background-color: $color;
        font-size: 16px;
    }
} 

// BUTTONS:HOVER
@each $theme, $color in $themes {
    .card-#{$theme}:hover .button-#{$theme} {
        color: $color;
        background-color: $white;
    }
} 



// CARD MIXIN HOVER -------------------WORKS----------------------
@mixin themes-bg-hov($map) {
    @each $theme, $color in $map {
        &-#{$theme}:hover {
            background-color: $color;
        }
    } 
}

.card { //-------------------WORKS----------------------------------------
    @include themes-bg-hov($themes);
}


// // ICON & BUTTON MIXIN HOVER need to think about if this is useful
// @mixin themes-fg-hov($map) {
//     @each $theme, $color in $map {
//         &-#{$theme}:hover {
//             background-color: $color;
//         }
//     } 
// }

// .card > * {
//     @include themes-fg-hov($themes);
// }
