//COLORS

//PRIMARY THEME COLORS
    $software-color1: #67809f;
    $it-color1: #4183d7;
    $marketing-color1: #2ecc71;
    $telecoms-color1: #d64541;
    $web-color1: #926fb1;
    $cyber-color1:  #f62459;
    $training-color1: #926fb1;


//SECONDARY THEME COLORS
    $software-color2: #526781;
    $it-color2: #286abd;
    $marketing-color2: #25a25a;
    $telecoms-color2: #bc2c28;
    $web-color2: #79539a; //may be wrong - see below news color
    $cyber-color2:  #de093f;
    $training-color2: #79539a; //may be wrong - see below news color

//EXTERNAL BRAND COLORS


//LATEST COLORS
    $news-color1: #926fb1;
    $news-color2: #7e57a0; //also used for web button in the banner????
    $news-color3: #735093; //border - need to add to buttons. MAY BE FOR THE ABOVE THEMES AS WELL
    //$careers-color1: ;