
.button a {
    text-align: center;
    display: inline-block;
    border-radius: $round-corner;
    text-transform: uppercase;
    font-weight: $bold;
}

.banner-container > .button a {
    padding: 5px 20px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    background-color: $web-color1;
    border: 1px solid $web-color1;
    color: $white;
    border-radius: $round-corner;
    font-weight: $regular;
}

.banner-container > .button a:hover,
.banner-container > .button a:active {
    background-color: $web-color2;
    border: 1px solid $web-color3;
}


.fake-button {
    text-align: center;
    display: inline-block;
    border-radius: $round-corner;
    text-transform: uppercase;
    font-weight: $regular;
}

.intro .button a {
    padding: 5px 15px;
    font-size: 17px;
    font-weight: $regular;
    line-height: 35px;
    background-color: $culture-button-color1;
    color: $main-grey;
    border: 1px solid $culture-button-color1;
}

.intro .button a:hover,
.intro .button a:active {
    background-color: $culture-button-color2;
    border: 1px solid $culture-button-color3;
}

.news-text > .button {
    padding-top: 0;
    padding-bottom: 0;
}

.news-text .button a {
    padding:	5px 15px;
    font-size:	17px;
    line-height:	35px;
    color: $white;
    background-color: $web-color1;
    border: 1px solid $web-color1;
    border-radius: $round-corner;
    font-weight: $regular;
}

.news-text .button a:hover, 
.news-text .button a:active {
    background-color: $web-color2;
    border-color: $web-color3;
}

//SOCIAL BUTTONS
.social-button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0;
} 

.social-button li {            
    list-style-type: none;   
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    margin-top: 30px; 
    margin-bottom: 0;
    height: 55px;
}

.social-button li a {      
    padding: 12px 0;
    justify-content: center;
    display: block;
    font-size: 28px;
    line-height: 28px;
    width: 100%;
    height: 100%;
    padding: auto 15px;
    background-color: $social-base;
}

#facebook {
    margin-left: 0;
    margin-right: 0;
    padding-right: 15px;
}

#twitter {
    padding-left: 15px;
}

#linked-in {
    padding-right: 15px;
}

#twitter,
#linked-in {
    margin-left: 0;
    margin-right: auto;
}

//HOVER COLORS
#facebook a:hover {
    background-color: $facebook;
}

#linked-in a:hover {
    background-color: $linkedin;
}

#twitter a:hover {
    background-color: $twitter;
}


//ACTIVE SETTINGS
#support:active,
#contact:active,
#menu:active,
.banner-container .button a:active,
.fake-button:active,
.intro-container .button a:active,
.news-text .button a:active {
    @include button-active-shadow;
}