
.button {
    font-weight: bold;
}

.button a {
    // padding: 15px;
    // border: 3px solid red;
    // width: 150px;
    text-align: center;
    display: inline-block;
    border-radius: 5%;
    text-transform: uppercase;
    font-weight: 600;
}

.banner > .button a {
    padding: 5px 20px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    background-color: #926fb1;
    color: #ffffff;
    border-radius: 3px;
    font-weight: 400;
}

.banner > .button:hover {
    background-color: #7e57a0;
    box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.125);
}


.fake-button {
    text-align: center;
    display: inline-block;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 400;
}

.intro .button a {
    padding: 5px 15px;
    font-size: 17px;
    font-weight: 400;
    line-height: 35px;
    background-color: #ffffff;
    color: #333645;
}

.intro .button a:hover {
    opacity: .9;
}

.news-text .button a {
    padding:	5px 15px;
    font-size:	17px;
    line-height:	35px;
    color:	#ffffff;
    background-color:	#926fb1;
    border-radius:	3px;
    font-weight: 400;
}



//SOCIAL BUTTONS
.social-button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0;
} 

.social-button li {
    list-style-type: none;   
    display: flex;
    flex-direction: column;
    width: 45%; //or 211px in peeper; 
    // max-width: 250px; //value tbc - here for testing. To add for wider screens?
    text-align: center;
    margin-top: 30px; 
    margin-bottom: 0;
    height: 55px;
    background-color: rgba(0, 0, 0, .25);
}

.social-button li a {
    padding: 12px 0;
    justify-content: center;
    display: block;
    font-size: 28px;
    line-height: 28px;
    width: 100%;
    height: 100%;
    padding: auto 15px;
}

#twitter {
    margin-left: auto;
}

//HOVER COLORS
#facebook a:hover {
    background-color: #3b5998;
}

#linked-in:hover {
    background-color: #0077b5;
}

#twitter:hover {
    background-color: #00aced;
}