
.button a {
    text-align: center;
    display: inline-block;
    border-radius: $round-corner;
    text-transform: uppercase;
    font-weight: $bold;
}

.banner-container > .button a {
    padding: 5px 20px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    background-color: $web-color1;
    color: #ffffff;
    border-radius: $round-corner;
    font-weight: $regular;
}

.banner-container > .button a:hover {
    background-color: #7e57a0;
    box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.125);
}


.fake-button {
    text-align: center;
    display: inline-block;
    border-radius: $round-corner;
    text-transform: uppercase;
    font-weight: $regular;
}

.intro .button a {
    padding: 5px 15px;
    font-size: 17px;
    font-weight: $regular;
    line-height: 35px;
    background-color: #ffffff;
    color: #333645;
    border: 1px solid #ffffff;
}

.intro .button a:hover {
    opacity: .9;
    border: 1px solid #e0e0e0;
}

.news-text > .button {
    padding-top: 0;
    padding-bottom: 0;
}

.news-text .button a {
    padding:	5px 15px;
    font-size:	17px;
    line-height:	35px;
    color:	#ffffff;
    background-color: $news-color1;
    border-radius: $round-corner;
    font-weight: $regular;
}

.news-text .button a:hover {
    background-color: $news-color2;
}

//SOCIAL BUTTONS
.social-button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0;
} 

.social-button li {            
    list-style-type: none;   
    display: flex;
    flex-direction: column;
    width: 45%; //or 211px in peeper; 
    // max-width: 250px; //value tbc - here for testing. To add for wider screens?
    text-align: center;
    margin-top: 30px; 
    margin-bottom: 0;
    height: 55px;
    background-color: rgba(0, 0, 0, .25);
}

.social-button li a {      
    padding: 12px 0;
    justify-content: center;
    display: block;
    font-size: 28px;
    line-height: 28px;
    width: 100%;
    height: 100%;
    padding: auto 15px;
}

#twitter {
    margin-left: auto;
}

//HOVER COLORS
#facebook a:hover {
    background-color: $facebook;
}

#linked-in:hover {
    background-color: $linkedin;
}

#twitter:hover {
    background-color: $twitter;
}