.cookies-outer-container {
        position: fixed;
        display: none;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;//100vw; //z index is less than the burger menu, but higher than the rest of the page
        z-index: 2;
        background-color: rgba(0,0,0, 0.7);
        //overflow-y: scroll;
}

.cookies {
    position: absolute;
    display: none;
    width: 90%;
    max-width: 600px;
    height: 505px;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: $white;
    //padding: 20px;
    z-index: 3; //needs to be higher than the overlay
    border-radius: 5px;
}

.cookies p {
    font-size: 16px;
    color: $grey-color3;
    margin-bottom: 25px;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.cookies h3 {
    font-size: 26px;
    color: $main-grey;
    font-weight: 400;
    margin: 0;
    position: relative;
    padding: 20px;
    &::after {
        content: "";
        position: absolute;
        //width: 600px;
        left: 0;
        bottom: 0px;
        border-bottom: 1px solid $second-grey;
        width: 100%;
    }
}

.cookieButtons {
    position: relative;
    padding: 20px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media (min-width: $break-sm) {
        flex-direction: row;
    }
    button {
        text-transform: uppercase;
        width: calc(100% - 20px);
        margin: 15px auto; //needs correcting at some point
        height: 47px;
        padding: 5px 15px;
        border-radius: $round-corner;
        border: 1px solid transparent;
        color: $white;
        font-size: 17px;
        outline: none;
        cursor: pointer;
        @media (min-width: $break-sm) {
            width: 264px;
        }

        &:active {
            box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%)
        }
    }
    &::before {
        content: "";
        position: absolute;
        //width: 600px;
        left: 0;
        top: 10px;
        border-top: 1px solid $second-grey;
        width: 100%;
    }
}

#cookies-settings-button {
    background-color: $cookie-settings-color1;
    margin: 0;
    &:hover,
    &:active {
        background-color: $cookie-settings-color2;
        border: 1px solid $cookie-settings-color3;
    }
}

#cookies-button {
    background-color: $web-color1;
    margin: 0;
    &:hover,
    &:active {
        background-color: $web-color2;
        border: 1px solid $web-color3;
    }
}
