.icon {
    // display: flex;
    // justify-content: center;
    background-color: lightblue;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-left: calc(50% - 30px);
    margin-top: 20px;


}