.news img {
    border-radius: 3px 3px 0px 0px;
    width: 100%;
    border: 1px solid #d6d6d6;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.news-image-parent {
    border-radius: 3px 3px 0px 0px;
}

.thumbnail img {
    height: 47px;
    width: 47px;
    border-radius: 50%;
    margin-top: 0;
    border: none;
}

