/////////////////////////////////////////
//TOGGLE
/////////////////////////////////////////////////////

//Only want to toggle in medium screens

@media (min-width: $break-med) and (max-width: $break-lg) {
    //show search input
    .toggle-show {
        display: inline-block;
        border-radius: 0;
    }

    //hide contact and support buttons
    .toggle-hide {
        display: none;
    }

    .hide_element { 
        display: none;
    }
    
    // .show_inline_element {
    //     display: inline-block;
    // }

    //edit search bar width
    .toggle-search-width {
        width: 363px;
        button {
            margin-right: 0;
            margin-left: auto;
            //border-radius: 0px $round-corner $round-corner 0px;
        }
    }
}

//on toggle may need to change #search-bar width to 63px when the search input is hidden.
// #search-bar {
//     width: 63px;
    //width: 240px
// }


//////////////////////////////////////////////////////////
//STICKY HEADER
////////////////////////////


//allow space for the fixed header
body {
    padding-top: 208px; // same as header height
  }


//header styles
header {
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    background-color: $white;
    z-index: 100;
}

// we'll add this class using javascript
.nav-up {
    top: -208px; // same as header height. use variables in LESS/SASS
  }