
//need to set each secondary nav to display:block
//enable each one on hover over the applicable menu title
//tool tips



// .nav-software,
// .nav-it,
// .nav-marketing,
// .nav-telecoms,
// .nav-web,
// .nav-cyber {
//     display: none;
// }



// ICON COLOR
@each $theme, $color in $themes {
    #nav-icon-#{$theme}:not(last-child) {
        color: $color;
    }
} 

//ICON HOVER WHITE ////////////////////////////////////////need to remove li
@each $theme, $color in $themes {
    .title-#{$theme}:hover:not(last-child) > li > #nav-icon-#{$theme}:not(last-child) {
        color: #ffffff;
    }
} 

@each $theme, $color in $themes { //////////////////////to check if this new code is working.
    .title-#{$theme}:hover:not(last-child) > .icon-parent > #nav-icon-#{$theme}:not(last-child) {
        color: #ffffff;
    }
} 

//BOX HOVER BACKGROUND COLOR
@each $theme, $color in $themes {
    .title-#{$theme}:hover:not(last-child) {
        background-color: $color;
    }
} 




// TITLE LIST - HIDDEN FOR SMALL SCREENS
.nav-2 {
    border-bottom: .5px solid #ffffff;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 98px;
    margin: 0 auto;
    background-color: #333645;
}

.nav-2 > ul { ////////////////////////////////need to work out what to do with this. Move relevant code up to above?
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 98px;
    margin: 0 auto;
    background-color: #333645;
   
}

// // MAIN MENU BOXES /
.title-web,
.title-it,
.title-telecoms,
.title-software,
.title-marketing,
.title-cyber {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 192px;
    // padding-top: 18px;  //disabled as spacings are off
    // padding-bottom: 19px; //disabled as spacings are off
    color: #ffffff;
    border-left: 1px solid hsla(0,0%,100%,.1);
    border-right: 1px solid rgba(0,0,0,.25);
    text-transform: uppercase;
    //position: relative;                               ////////////////TEST - switched off relative
    // margin-left: 0;
    // margin-right: 0;
}



//BOX PSEUDO-ELEMENTS FOR EXTRA SIDE BORDERS
.title-web::before {
    content: "";
    position: absolute;
    height: 98px;
    left: -1.5px;   //needs to be -1.5px in chrome & edge, but -2.5px in IE? firefox is slightly different too
    top: 0;
    border-right: 1px solid rgba(0,0,0,.25);
}

.title-cyber::after {
    content: "";
    position: absolute;
    height: 98px;
    right: -2px;  //similar issue to the above comment
    top: 0;
    border-left: 1px solid hsla(0,0%,100%,.1);
}




// WORKING TITLE BOX ITEMS           /////////////may be able to delete once lists are removed?
.nav-2 ul ul li * {
    margin: 0 0;
}

//this is the updated code for the above. Can delete the above once all updated.
.title-web > *,
.title-software > *,
.title-it > *,
.title-marketing > *,
.title-telecoms > *,
.title-cyber > * {
    margin: 0 0;
}


//FOR THE TEXT
#nav-icon-web,             //////////////////////////////////////TEST
.title-software > li > i,
.title-it > li > i,
.title-marketing > li > i,
.title-telecoms > li > i,
.title-cyber > li > i {
    font-size: 23px;
    line-height: 23px;
    padding-bottom: 10px; //NOT WORKIMG?????
}

.title-web > p,           ///////////////////////////////////TEST. SHOULD WORK?
.title-software > li > p,
.title-it > li > p,
.title-marketing > li > p,
.title-telecoms > li > p,
.title-cyber > li > p {
    padding-bottom: 1px;
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
}

.title-web > h1, /////////////////////////////////////TEST. SHOULD WORK?
.title-software > li > h1,
.title-it > li > h1,
.title-marketing > li > h1,
.title-telecoms > li > h1,
.title-cyber > li > h1 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
} 


.nav-web,            /////////////////////////TEST
.nav-it > ul,
.nav-telecoms > ul,
.nav-software > ul,
.nav-marketing > ul,
.nav-cyber > ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
    margin: 0 auto;
    display: none;
}



// ICON & BACKGROUND COLORS- WORKING
@each $theme, $color in $themes {
    .title-#{$theme} > .nav-#{$theme}:not(last-child) {
        background-color: $color;
        color: #ffffff;
        display: none; //HIDDEN ------------------------may have duplicate code at the bottom of this page atm
        
    }
} 

@each $theme, $color in $themes { 
    ///////////////////////////need to update to try and get the bar below
    .title-#{$theme}:hover > .nav-#{$theme}:not(last-child){
        background-color: $color;
        color: #ffffff;
        display: flex;  
    }
}



// WORKING BACKUP DROPDOWN LISTS. CURRENTLY HIDDEN
// .nav-2 {
//     padding-bottom: 0;
//     margin-bottom: 0;
// }

// .nav-2-dropdown ul {
//     list-style-type: none;
//     padding-left: 0;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
//     width: 95%;
//     margin: 0 auto;
// }

// // WORKING BACKUP DROPDOWN LIST ITEMS. CURRENTLY HIDDEN
// .nav-2-dropdown ul li {
//     font-weight: 500;
//     text-transform: uppercase;
//     text-align: center;
// }

//WORKING BACKUP DROPDOWN LIST COLORS. CURRENTLY HIDDEN
// @each $theme, $color in $themes {
//     .nav-2-dropdown > .nav-#{$theme}:not(last-child) {
//         background-color: $color;
//         color: #ffffff;
//         display: none;       //HIDDEN
//    }
// }

// display: none; for all nav bars

//trying to get secondary nav bars in a row   ///////////////////////TESTING SPACE
// .title-web {
//     position: relative;
// }

.nav-web,
.nav-it,
.nav-telecoms,
.nav-software,
.nav-marketing,
.nav-cyber {
    display: none;
}





.nav-web {
    display: flex;
    flex-direction: row;
    width: 100vw;
    position: absolute;
    left: 0;
    right: 0;
    //align-items: center;
    //margin: 0 auto;
    //left: -60px;
    // right: 0;
    top: 248px;
    //bottom: -22px;
    border: 3px solid red;
}