// .nav-software,
// .nav-it,
// .nav-marketing,
// .nav-telecoms,
// .nav-web,
// .nav-cyber {
//     display: none;
// }



// WORKING
@each $theme, $color in $themes {
    #nav-icon-#{$theme}:not(last-child) {
        color: $color;
    }
} 

// WORKING TITLE LIST - HIDDEN FOR SMALL SCREENS
.nav-2 > ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 98px;
    margin: 0 auto;
    background-color: #333645;
    // display: none; //HIDDEN
}

// WORKING TITLE BOXES
.nav-2 > ul > ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 192px;
    // padding-top: 18px;  //disabled as spacings are off
    // padding-bottom: 19px; //disabled as spacings are off
    color: #ffffff;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    text-transform: uppercase;
    // margin-left: 0;
    // margin-right: 0;
}

// WORKING TITLE BOX ITEMS
.nav-2 ul ul li * {
    margin: 0 0;
}


//FOR THE TEXT
.title-web > li > i,
.title-software > li > i,
.title-it > li > i,
.title-marketing > li > i,
.title-telecoms > li > i,
.title-cyber > li > i {
    font-size: 23px;
    line-height: 23px;
    padding-bottom: 10px; //NOT WORKIMG?????
}

.title-web > li > p,
.title-software > li > p,
.title-it > li > p,
.title-marketing > li > p,
.title-telecoms > li > p,
.title-cyber > li > p {
    padding-bottom: 1px;
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
}

.title-web > li > h1,
.title-software > li > h1,
.title-it > li > h1,
.title-marketing > li > h1,
.title-telecoms > li > h1,
.title-cyber > li > h1 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
} 


.nav-web > ul,
.nav-it > ul,
.nav-telecoms > ul,
.nav-software > ul,
.nav-marketing > ul,
.nav-cyber > ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
    margin: 0 auto;
    display: none;
}



// ICON & BACKGROUND COLORS- WORKING
@each $theme, $color in $themes {
    .title-#{$theme} > .nav-#{$theme}:not(last-child) {
        background-color: $color;
        color: #ffffff;
        // display: none; //HIDDEN
        
    }
} 

@each $theme, $color in $themes {
    .title-#{$theme}:hover > .nav-#{$theme}:not(last-child){
        background-color: $color;
        color: #ffffff;
        display: inline-block;  
    }
} 



// WORKING BACKUP DROPDOWN LISTS. CURRENTLY HIDDEN
.nav-2 {
    padding-bottom: 0;
    margin-bottom: 0;
}

.nav-2-dropdown ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
    margin: 0 auto;
}

// WORKING BACKUP DROPDOWN LIST ITEMS. CURRENTLY HIDDEN
.nav-2-dropdown ul li {
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

// WORKING BACKUP DROPDOWN LIST COLORS. CURRENTLY HIDDEN
@each $theme, $color in $themes {
    .nav-2-dropdown > .nav-#{$theme}:not(last-child) {
        background-color: $color;
        color: #ffffff;
        display: none;       //HIDDEN
    }
} 