.banner {
    background-color:magenta;
    height: 531px;
}

.slides,
.slide, 
.slick-slide {
    height: 531px;
}

.slide h1 {
    margin: 0 auto;
    margin-bottom: 25px;
    font-size: 48px;
    line-height: 52.8px;
    color: $white;
    font-weight: $regular;
    text-transform: uppercase;
    width: 95%;
    }
    
.slide span {
    margin: 0 auto;
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 36px;
    color: $white;
    font-weight: $regular;
    width: 95%;
}


.slide1 {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5975432409291841) 70%, rgba(0,0,0,0.39866368910845584) 100%),
            url("../images/slides/slide-1.jpeg") no-repeat center; 
    background-size: cover;
}
.slide2 {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5975432409291841) 70%, rgba(0,0,0,0.39866368910845584) 100%),
            url("../images/slides/slide-2.jpeg") no-repeat center; 
    background-size: cover;
}
.slide3 {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5975432409291841) 70%, rgba(0,0,0,0.39866368910845584) 100%),
            url("../images/slides/slide-3.jpeg") no-repeat center; 
    background-size: cover;
}
.slide4 {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5975432409291841) 70%, rgba(0,0,0,0.39866368910845584) 100%),
            url("../images/slides/slide-4.jpeg") no-repeat center; 
    background-size: cover;
}
.slide5 {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5975432409291841) 70%, rgba(0,0,0,0.39866368910845584) 100%),
            url("../images/slides/slide-5.jpeg") no-repeat center; 
    background-size: cover;
}
.slide6 {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5975432409291841) 70%, rgba(0,0,0,0.39866368910845584) 100%),
            url("../images/slides/slide-6.jpeg") no-repeat center; 
    background-size: cover;
}


////////////////////////////////////////////////////////////////////////////////
/*Slick Carousel*/ /////////////////////////////////////////////////////////////
.slick-dots {
    bottom: 50px; //gap between the dots and the bottom of the slides
    }
    
.slick-dots li button:before { 
    font-size: 12px;
    height: 100%;
    width: 100%;
    line-height: 20px;
    padding: 0;
    margin: 0;
    border: 2px solid transparent; //this is the outer circle around the dot, affects dot placement if the border is removed.
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1; //I've been experimenting with this, was originally set to 1
    color: $grey-color3; //i've added this to try and get the grey on hover
}

.slick-dots li button:before {
    opacity: .75; //I've updated this, was .25
    color: $second-grey; //i've updated this (was black), need to move into code above 
}

.slick-dots li.slick-active button:before { ////////////////this is the button that is currently active
    opacity: 1; //i've updated this, was .75
    color: $white; //i've updated this (was black)
    border: 2px solid $white; //this is the outer circle around the dot
    border-radius: 50%;
}








