* {
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    letter-spacing: 0.4px;
}


a {
    text-decoration: none;
}

body {
    z-index: 0;
}

nav,
.nav-container,
.nav-2
body,
main {
    z-index: 1;
}