* {
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    // color: #333645; NEED TO CHECK
}

a {
    text-decoration: none;
    // color:#333645; NEED TO CHECK
}

.border-test {
    border: solid 3px red;
}






// TEMPORARY BACKGROUND COLORS TO CHECK LAYOUT

//MAIN
// .cards {
//     background-color: khaki;  
// }


// .latest {
//     background-color: lightskyblue;
// }

//FOOTER
.contact,
.about,
.website,
.social {
    border: 3px solid red;
}
